name: Extract Feature Branch Agent/Reusable

on:
    pull_request:
      types: [opened]

jobs:
  call-reusable-workflow:
    if: ${{ github.actor != 'github-actions' }}
    permissions:
      contents: write
      pull-requests: write
    uses: timkrieg1/cognigy-ci-cd-pipeline/.github/workflows/extract_feature_branch_agent.yaml@main
    with:
      REPOSITORY: ${{ github.repository }}
      BOT_NAME: ${{ vars.BOT_NAME }}
      COGNIGY_BASE_URL_DEV: ${{ vars.COGNIGY_BASE_URL_DEV }}
      BRANCH_NAME: ${{ github.ref_name }}
    secrets:
      PAT_TOKEN: ${{ secrets.PAT }}
      COGNIGY_API_KEY_DEV: ${{ secrets.COGNIGY_API_KEY_DEV }}
