name: Change IDs/Reusable

on:
    pull_request:
      types: [opened, synchronize]

jobs:
    prepare-data:
      runs-on: ubuntu-latest
      outputs:
        bot-mapping-b64: ${{ steps.encode_bot_mapping.outputs.BOT_MAPPING_B64 }}
      steps:
        # Checkout this repo to access bot_mapping.json
        - name: Checkout repository
          uses: actions/checkout@v4
        
        # Read and base64 encode bot_mapping.json
        - name: Encode bot_mapping.json
          id: encode_bot_mapping
          run: |
            BOT_MAPPING_B64=$(base64 -w 0 bot_mapping.json)
            echo "BOT_MAPPING_B64=$BOT_MAPPING_B64" >> $GITHUB_OUTPUT
  
    call-reusable-workflow:
      needs: prepare-data
      permissions:
        contents: write
        pull-requests: write
      uses: timkrieg1/cognigy-ci-cd-pipeline/.github/workflows/change_ids.yaml@main
  