on:
    workflow_dispatch:
      inputs:
        branch_desc:
          description: 'Description of the new branch'
          required: true
          type: string
        locale:
          description: 'The primary locale to create the feature agent for'
          required: true
          type: choice
          options:
          - de-DE
          - en-US
jobs:
    prepare-data:
      runs-on: ubuntu-latest
      outputs:
        bot-mapping-b64: ${{ steps.encode_bot_mapping.outputs.BOT_MAPPING_B64 }}
      steps:
        # Checkout this repo to access bot_mapping.json
        - name: Checkout repository
          uses: actions/checkout@v4
        
        # Read and base64 encode bot_mapping.json
        - name: Encode bot_mapping.json
          id: encode_bot_mapping
          run: |
            BOT_MAPPING_B64=$(base64 -w 0 bot_mapping.json)
            echo "BOT_MAPPING_B64=$BOT_MAPPING_B64" >> $GITHUB_OUTPUT
  
    call-reusable-workflow:
      needs: prepare-data
      permissions:
        contents: write
        pull-requests: write
      uses: timkrieg1/cognigy-ci-cd-pipeline/.github/workflows/create_feature_branch_agent.yaml@main
      with:
        REPOSITORY: ${{ github.repository }}
        BOT_MAPPING_BASE64: ${{ needs.prepare-data.outputs.bot-mapping-b64 }}
        BOT_NAME: ${{ vars.BOT_NAME }}
        BRANCH_DESC: ${{ github.event.inputs.branchDesc }}
        LOCALE: ${{ github.event.inputs.locale }}
        COGNIGY_BASE_URL_DEV: ${{ vars.COGNIGY_BASE_URL_DEV }}
        COGNIGY_BASE_URL_TEST: ${{ vars.COGNIGY_BASE_URL_TEST }}
        MAX_SNAPSHOTS: ${{ vars.MAX_SNAPSHOTS }}
      secrets:
        PAT_TOKEN: ${{ secrets.PAT }}
        COGNIGY_API_KEY_DEV: ${{ secrets.COGNIGY_API_KEY_DEV }}
        COGNIGY_API_KEY_TEST: ${{ secrets.COGNIGY_API_KEY_TEST }}
